
.imagee{
    height: 19em;
    width: 19em;
}

.link{
    text-decoration: none;
    color:lightslategrey;
}
img{
    border-radius: 6px;
}




@media (max-width: 600px) {
   

    .imagee{
        width: 21em;
        
    }
    h6{
        padding-left: 1em;
    }


}




@media  (max-width:414px){
    .imagee {
            width: 20em;
          
    
    
        }
}