.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    overflow: hidden;
}



@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        width: 15em;
        overflow: inherit;
    }
       


}